    body{
      background-color:#f5f6f7 
    }
    h1{
      color: black;
      text-align: center;
    }
    p{
      text-align: center;
    }
    span.author{
      font-size: 17px;
    }
    img{
      max-width: 200px;
      max-height: 270px;
      object-fit: contain;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    h5.card-title{
      margin-top: 10px;
    }
    footer.blockquote-footer{
      margin-bottom: 10px;
    }

